[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/tl-creator-contracts"]
	path = lib/tl-creator-contracts
	url = https://github.com/Transient-Labs/tl-creator-contracts
[submodule "lib/murky"]
	path = lib/murky
	url = https://github.com/dmfxyz/murky
